img.mycode_img {
    vertical-align: middle;
}

.mycode_quote_branched, .mycode_quote_branched > cite {
	background-color: #4a5542;
}

.mycode_quote_branched .quick_jump:before {
	content: "\f802" !important;
}

.blinking{
    animation:blinkingText 1.2s infinite;
}
@keyframes blinkingText{
    0%{     color: #000;    }
    49%{    color: #000; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #000;    }
}

.subscribeLabel {
	display: flex;
    flex: 0 0 40px;
    align-items: center;
    cursor: pointer;
    padding: 8px 12px;
    box-sizing: border-box;
    border-radius: 8px;
    transition: 0.2s;
}

.subscribeLabel:hover {
	background-color: #444444;
}

.subscribeLabel > span:nth-child(1) {
	flex: 0 0 220px;
}

.subscribeLabel > span:nth-child(2) {
	 flex: 1 1 auto;
    text-align: right;
}

.forum-sub-icon-add::before {
	content: "\f024";
}

.forum-sub-icon-remove::before {
	content: "\f024";
	font-weight: 900 !important;
}

.thread_status {
	display: inline-block;
	width: 16px;
	height: 16px;
	position: relative;
}

.thread_status[class*="folder"]::before {
	font-family: "Font Awesome 5 Pro";
	content: "\f15c";
	font-weight: 900;
	position: relative;
	bottom: 2px;
	left: 2px;
	color: #b4c5d6;
	text-shadow: 0px 1px 1px rgb(0,0,0,0.5);
}

.thread_status[class*="new"]::before {
	color: #6eb1f2;
}

.thread_status[class*="hot"]::before {
	color: #deabab;
}

.thread_status[class*="newhot"]::before {
	color: #ee7676;
}

.thread_status[class*="dot_"]::before {
	content: "\f573";
}

.thread_status[class*="close"]::after, .thread_status[class*="lock"]::after {
    font-family: "Font Awesome 5 Pro";
    content: "\f023";
    font-weight: 900;
    font-size: 7px;
    position: absolute;
    left: -1px;
    top: -2px;
    color: gold;
    text-shadow: 0px 0px 2px black;
}

.prefix {
    color: yellow;
}

.gotounread {
    color: #9575CD;
}

.logo-hide-button {
	display: inline-block;
	position: relative;
	top: -23px;
	right: 0px;
	cursor: pointer;
	color: #4D2F5D;
}

@media only screen and (max-width: 1275px) {
	.logo-hide-button {
		top: -8px;
	}
}

body > div[style*="z-index: 2000000000"] {
	position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    margin-top: -291px;
    margin-left: -201px;
}

body > div[style*="visibility: hidden; z-index: 2000000000"] {
	display: none;
}


.g-recaptcha-bubble-arrow {
	display: none;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    right: -1px;
    background-color: #1F1F1F;
    overflow-x: hidden;
    padding-top: 0px;
	margin-top:52px;
    transition: 0.5s;
	border-left: 1px solid #1A1A1A;
	overflow-y: scroll;
  	-webkit-overflow-scrolling: touch;
	padding-bottom: 100px;
}

.sidenav a {
    padding: 10px 8px 10px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #949494;
    display: block;
    transition: 0.3s;
	white-space: nowrap;
	border-top: 1px solid #2a2a2a;
	border-bottom: 1px solid #111111;
	margin: 0px;
font-weight: bold;
}

.sidenav a:hover {
    color: #f1f1f1;
	background-color: #4D2F5D;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 20px;
}

.navbar {
    background-color: #1F1F1F;
    position: fixed;
    top: 0;
    width: 100%;
    display: none;
    z-index: 100;
}
	
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    position: relative;
}

.navbar a .notify-number {
    font-weight: bold;
    z-index: 100;
    position: absolute;
    top: 7px;
    right: 8px;
    font-size: 11px;
    background-color: #c53700;
    padding: 1px 4px;
    border-radius: 2px;
    display: none;
    color: #f2f2f2 !important;
}
	
.header_avatar {
	padding: 8px 8px 0px 16px !important;
}
	
.header_avatar img {
	border:1px solid #1A1A1A !important;
	border-radius: 20px;
	background-color: #333333;
}
	
.navbar a:hover:not(.active) {
    background-color: #4D2F5D;
}
	
.navbar .menu {
	background-color: #4D2F5D;
}

.navbar a.active {
    color: #4D2F5D;
}


button.accordion {
	font-size: 16px !important;
    background-color: #1F1F1F;
    color: #e2e2e2;
    cursor: pointer;
    padding: 18px !important;
    width: 100%;
    border: none;
    outline: none;
	transition: 0.4s;
	text-align: left;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
	border-radius: 0px !important;
	border-top: 1px solid #2a2a2a;
	border-bottom: 1px solid #111111;
	margin: 0px;
}

.sidenav button.active, .sidenav button.accordion:hover {
    background-color: #1F1F1F;
}

.sidenav .panel {
    padding: 0 0px;
    background-color: #131313;
    display: none;
    overflow: hidden;
	padding-left: 0px;
	border-top: 1px solid #1A1A1A;
}
	
.sidenav .panel a:first-child {
	border-top: none;
}
	
.sidenav .panel:last-of-type {
	
}
	
.sidenav .panel_spacer {
	display: none;
}
	
.sidenav .panel_spacer:last-of-type {
	display: block;
	height: 60px;
}
	
.mobile_side_nav {
	display: table-cell;	
}
	
.fa-angle-down, .fa-angle-up {
	font-size: 26px;
}
	
.accordion-icon {
	padding-right: 15px;
	color: #636363;
	vertical-align: top;
	font-size: 17px;
}

.navbar-register {
    color: #aaa !important;
    font-weight: bold;
}

.navbar-register::before {
    content: "\f090";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 12px;
    top: 0px;
    padding: 7px;
    margin-right: 10px;
    margin-left: 10px;
    color: #aaa;

}

.dropdown-menu > li {
    display: block;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.dropdown-menu > li > a {
    width: calc(100% - 32px);
    font-weight: bold;
	text-align: left;
}

.dropdown-menu > li > a > i {
    margin-right: 15px;
    width: 32px;
    text-align: center;
	color: #888;
}

#navLeftDropdownGroup > div {
	cursor: pointer;
}

.nav-left-dropdown-active {
	display: block !important;
}

.nav-left-dropdown-option-active {
	background-color: #060606;
}

.nav-left-dropdown-option-list-active {
	display: block !important;
}

.new-highlight {
	animation-iteration-count:infinite;
	animation: newcolorchange 5s;
	animation-timing-function: linear;
	-webkit-animation: newcolorchange 5s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function: linear;
}
			
@keyframes newcolorchange {
	0%   {color: red;}
	33%  {color: yellow;}
	67%  {color: white;}
	100% {color: red;}
}

@-webkit-keyframes newcolorchange {
	0%   {color: red;}
	33%  {color: yellow;}
	67%  {color: white;}
	100% {color: red;}
}

.twitter-tweet {
	width: initial !important;
}

.gotounread {
	font-size: 12px !important;
	margin-right: 3px;
}

.quickthread_button {
	position: absolute;
	top: 20px;
	right: 20px;
	display: inline-block;
	padding: 4px;
	border: 2px solid #1f1f1f;
	background-color: #4d2f5d;
	border-radius: 8px;
}

.psi-signature {
	float: right;
	padding: 0px 10px 0px 10px;
	color: #7d618e;
	font-weight: bold;
}

.oc-item-profile-left {
	flex: 3 0px !important;
        padding-right: 5px !important;
}

.oc-item-profile-right {
	flex: 2 0px !important;
}

.top-links a:hover {
	color: #7d618e !important;
}

.top-links a {
	margin-left: 20px;	
}

.red, .red a {color: red; font-weight: bold;}
.green, .green a {color: #00D01D;}
.yellow, .yellow a {color: yellow;}

.bitButton > a {
    padding: 5px 10px;
    background-color: #242424;
    border-radius: 3px;
    font-weight: bold;
    border: 1px solid #171717;
}

.bitButton > a:hover {
    background-color: #333;
}

.alert-li-tablet {
    margin-left: -18px;
}

-input:-webkit-autofill {
	background-color: #333;
	border-bottom: 2px solid #4c305d!important;
	border-top: none;
	border-left: none;
	border-right: none;
}

input:-webkit-autofill {
	-webkit-text-fill-color: #5a5a5a!important;
	-webkit-box-shadow: 0 0 0 30px #2b2b2b inset;
}

body {
	font-size:  14px;
	line-height: 1.4;
	color: #c7c7c7;
	background: #282828;
	margin: 0;
	font-family: Verdana, Arial, Sans-Serif;
	min-width: 320px;
}

a:link {
	color: #efefef;
	text-decoration: none;
}

a:visited {
	color: #efefef;
	text-decoration: none;
}

a:link:hover {
	color: #f7f7f7;
}

f {
	color: #0072BC;
	text-decoration: underline;
}

.bold {
	font-weight: 700;
}

.tfixed {
	table-layout: fixed;
	word-wrap: break-word;
}

.columns {
	list-style: none;
	margin: 0;
	padding: 0;
}

.columns li {
	width: 50%;
	float: left;
}

.statusicon {
	color: #212121;
	text-shadow: 1px 1px 1px #4a4545;
	font-size: 9px !important;
	padding-right: 10px;
}

ul.columns a {
    padding: 3px 0px;
    display: inline-block;
}

.columns li a, .columns li a:visited {
	color: #dedede;
}

.columns li a:hover, .columns li a:active {
	color: #fff;
}

.wrapper {
	width: 95%;
	max-width: 1525px;
	margin: auto;
}

#logo {
	max-width: 1525px;
	padding: 10px 0;
	margin: 0 auto;
        text-align: center;
}

#content {
	overflow: visible;
	padding: 25px;
	min-height: 660px
}

.mobile-s {
	display: none;
}

.mobile-small {
display: none;
}

.mobile {
	display: none;
}

.mobile-keep-inline {
    display: none;
}

.mobile-keep-block {
    display: none;
}

.desktop-inline-block {
	display: inline-block;
}

.mobile-inline-block {
       display: none !important;
}

.desktop-remove {
display: none !important;
}

.author_buttons {
    display: inline-block;
}

.tablet-mobile {
	display: none;
}

.table {
	table-layout: fixed;
	width: 100%;
}

.desktop-remove {
}

i.fa.fa-bookmark.oc-hf-icon {
	padding-left: 5px;
	padding-right: 5px;
}

i.fa.fa-user-circle.oc-hf-icon {
	padding-left: 5px;
}

i.fa.fa-user.menu-icon {
	color: #2284b5;
}

#header ul.menu {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
	font-weight: 700!important;
}

#header ul.menu li {
	margin: 0 10px;
	display: inline;
	position: relative;
}

#header ul.menu li a {
	display: inline-block;
	color: #efefef;
	background-repeat: no-repeat;
	display: inline-block;
}

#logo ul.top_links {
	font-weight: 700;
	text-align: right;
	margin: -10px 5px 0 0;
}

#panel {
	display: block;
	margin: auto;
	width: calc(95% - 50px);
	max-width: 1525px;
}

#panel .upper a.logout {
	font-weight: 700;
	padding-right: 20px;
	margin-left: 2px;
}

#panel .upper a.register {
	position: relative;
}

#panel .upper a.register:before {
	content: "\f2f6";
	font-family: "Font Awesome 5 Pro";
	font-weight: 900;
	font-style: normal;
	text-decoration: inherit;
	font-size: 10px;
	top: 0px;
	padding: 7px;
	margin-right: 10px;
	margin-left: 10px;
	color: #444444;
	text-shadow: 0 0 2px #0000009e;
	background: #191919;
	border: 1px solid #1b1a1a;
	box-shadow: 0 0 5px #0a0a0a inset;
}

#panel .upper a.login {
	position: relative;
}

#panel .upper a.login:before {
	content: "\f084";
	font-family: "Font Awesome 5 Pro";
	font-weight: 900;
	font-style: normal;
	text-decoration: inherit;
	font-size: 10px;
	top: 0px;
	padding: 7px;
	margin-right: 10px;
	margin-left: 10px;
	color: #663b80;
	text-shadow: 0 0 2px #0000009e;
	background: #191919;
	border: 1px solid #1b1a1a;
	box-shadow: 0 0 5px #0a0a0a inset;
}

#panel .lower ul.panel_links {
	float: left;
	margin: 0;
	/* float: right; */
	font-weight: 400!important;
	margin: 0;
	margin-left: -20px;
	font-size: 12px !important;
	/* margin-right: 5px; */
}

#panel .lower ul.panel_links a.usercp {
	/* background-position: 0 -120px; */
	/* font-size: 12px; */
	/* font-weight: 400!important; */
	/* padding-left: 0; */
}

#panel .lower ul.panel_links a.modcp {
	/* background-position: 0 -140px; */
	/* font-size: 12px; */
	/* padding-left: 20px; */
	/* font-weight: 400!important; */
}

#panel .lower ul.panel_links a.admincp {
	/* font-size: 12px; */
	/* font-weight: 400!important; */
	/* padding-left: 20px; */
	/* background-position: 0 -160px; */
}

#panel .lower ul.user_links {
	float: right;
	font-weight: 400!important;
	margin: 0;
	font-size: 12px !important;
	margin-right: 5px;
}

#panel .lower ul.user_links li a, #panel .lower ul.panel_links a {
	padding: 0;
	background-image: none;
	font-size: 11px;
	/* text-transform: uppercase; */
	/* font-weight: bold; */
	/* text-transform: uppercase; */
}

#panel .upper {
	padding: 8px 20px;
	clear: both;
	background: #171717;
	color: #fff;
	font-size: 13px;
	border-top: 1px solid #1d1d1d;
	border-bottom: 1px solid #0e0e0e;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}

#panel .upper a:link, #panel .upper a:visited {
	color: #dcdcdc;
}

#panel .lower {
	background: #1d1d1d;
	color: #717171;
	max-height: 20px;
	border-top: 1px solid #272727;
	padding: 5px 20px;
	border-bottom: 1px solid #080808;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

#panel .lower a:link, #panel .lower a:visited {
	color: #717171;
	text-shadow: 1px 1px 1px #00000040;
}

#search {
	border: 0;
	padding: 0;
	margin: 0;
	float: right;
	vertical-align: middle;
	background: #252525;
}

#search input.button, #search input.textbox {
	border-color: #191919;
	min-width: 293px;
}

#search input.button {
	background: #3a638e;
	color: #fff;
}

#search input {
	margin: -3px 0;
}

#quick_login .remember_me input {
	vertical-align: middle;
	margin: -3px 0 0 5px;
}

img.logo-img {
	margin-bottom: 15px;
	margin-top: 10px;
	max-width: 100%;
	-webkit-transition: 0.3s;
}

.expcolimage-fa {
	font-style: normal;
}

.expcolimage-fa:after {
	font-family: FontAwesome;
	font-size: 15px;
	color: #321f3e;
	content: "\f056";
	position: relative;
	z-index: 0;
}

.click-nav {
	width: 50%;
	flex: 1
}

.click-nav ul {
	position: relative;
	font-weight: 900;
	padding: 0;
	margin: 0;
}

.click-nav ul li {
	position: relative;
	list-style: none;
	cursor: pointer;
	background: #000;
}

.click-nav ul li ul {
	position: absolute;
	left: 0;
	right: 0;
	top: 42px;
	background: #000;
	z-index: 500;
}

.click-nav ul .clicker {
	color: #FFF;
	text-align: center;
	background: #1f1f1f;
	border-top: 1px solid #1f1f1f;
	border-bottom: 1px solid #171717;
	padding: 15px 0;
}

.click-nav ul .clicker:hover, .click-nav ul .active {}

.click-nav img {
	position: absolute;
	top: 9px;
	left: 12px;
}

.click-nav ul li a {
	font-weight: 400;
	transition: background-color .2s ease-in-out;
	-webkit-transition: background-color .2s ease-in-out;
	-moz-transition: background-color .2s ease-in-out;
	display: block;
	padding: 12px 0 15px;
	border-top: 1px solid #3c3c3c;
	border-bottom: 1px solid #252525;
	color: #e4e4e4;
	background: #333;
	text-align:  center;
}

.click-nav ul li a:hover {
	background: #4d2f5d;
	border-top: 1px solid #4d2f5d;
	border-bottom: 1px solid #311d3c;
}

.click-nav .no-js ul {
	display: none;
}

.click-nav .no-js:hover ul {
	display: block;
}

.clicker-right {
	text-align: right;
}

.menu-connector {
	display: none;
}

.click-nav-profile {
	width: 50%;
	flex: 1;
}

.click-nav-profile ul {
	position: relative;
	font-weight: 900;
	padding: 0;
	margin: 0;
	background: #000;
}

.click-nav-profile ul li {
	position: relative;
	list-style: none;
	cursor: pointer;
	background: #000;
}

.click-nav-profile ul li ul {
	position: absolute;
	left: 0;
	right: 0;
	top: 42px;
	background: #000;
}

.click-nav ul-profile .clicker {
	background: #2284B5;
	color: #FFF;
	text-align: center;
	width: 50%;
	position: fixed;
}

.click-nav ul-profile .clicker:hover, .click-nav-profile ul .active {
	background: #425a71
}

.click-nav-profile img {
	position: absolute;
	top: 9px;
	left: 12px;
}

.click-nav-profile ul li a {
	font-weight: 400;
	-webkit-transition: background-color .2s ease-in-out;
	background: #374858;
	-moz-transition: background-color .2s ease-in-out;
	display: block;
	padding: 15px 0 14px;
	color: #e6e6e6;
	text-decoration: none;
}

.click-nav-profile ul li a:hover {
	background: #3f5162;
}

.click-nav-profile .no-js ul {
	display: none;
}

.click-nav-profile .no-js:hover ul {
	display: block;
}

.users-browsing {
	color: #e2e2e2;
}

.forumdisplay_regular, .forumdisplay_sticky {
	padding: 11px;
	font-size: 15px;
}

li.user-link-last {
	margin-right: 0px!important;
}

td.trow_shaded.trow_deleted.forumdisplay_regular a {
	color: #ccc;
}

td.trow_shaded.trow_deleted.forumdisplay_regular img {
	display: none;
}

.forum-content {
	display: block;
	width: 100%;
}

.float-right {
	display: inline-block;
	float: right;
}

.td-float-right {
	display: none;
}

.nav {
	display: block;
	margin: 0;
	padding: 0;
}

.nav li {
	display: inline-block;
	list-style: none;
}

.nav .button-dropdown {
	position: relative;
	float: left;
}

.nav li a {
	display: block;
	color: #7b7b7b;
	background-color: #1f1f1f;
	padding: 0;
	font-size: 15px !important;
	font-weight: 400!important;
}

.nav li a span {
	display: inline-block;
	margin-left: 5px;
	font-size: 10px;
	color: #999;
}

.nav li a:hover, .nav li a.dropdown-toggle.active {
	background-color: #1f1f1f;
	color: #8b8b8b!important;
}

.nav li a:hover span, .nav li a.dropdown-toggle.active span {
	color: #8b8b8b;
}

.nav li .dropdown-menu {
	display: none;
	position: absolute;
	top: 24px;
	left: -20px;
	right: 0;
	padding: 0;
	margin: 0;
	z-index: 50;
}

.nav li .dropdown-menu.active {
	display: block;
}

.nav li .dropdown-menu a {
	width: 155px !important;
	padding: 10px;
	font-size: 11px;
	background: #1f1f1f;
	text-shadow: 0 0 rgba(0, 0, 0, 0.1);
}

.nav li .dropdown-menu a:hover {
       background: #252525;
}

li.button-dropdown.right {
	float: right;
}

ul.dropdown-menu.right-menu {
	right: -19px;
}

#search {
	display: none;
}

.mobile-subforums {
	color: #949494;
}

.thread-quickchat {
	width: 22%;
}

.subforum_minioff, .subforum_miniofflink {
    color: #888 !important;
    text-shadow: 1px 1px 1px #111 !important;
    font-size: 8px !important;
}

.subforum_minion {
    cursor: pointer;
}

.subforum_miniofflock {
    vertical-align: bottom;
}

.subforum_miniofflock::before {
    content: "\f023" !important;
    font-size: 13px;
}

.subforum_miniofflink::before {
    content: "\f064" !important;
}

.tab-menu-mobile {
	/*float: right!important;
	width: 19%!important;
	overflow: hidden;
	margin-top: 0!important*/
}

.forum-content-mobile {
	/*display: inline-block!important;
	width: 80%!important*/
}

postbit_buttons {
	display: inline-block!important;
}

.postbit_qdelete {
    
}

img.header_link-img {
	position: absolute;
	left: 0;
	top: 0;
	display: none;
}

.rate-thread {
	float: right;
	padding-right: 20px;
	padding-top: 18px;
}

.oc-container {
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
}

.oc-nav-bar-page {
        flex-wrap: nowrap !important;
}

.oc-item {
	flex: 1;
	padding: 0;
	margin: 0;
}

table.oc-item {
	flex: 0 0 100%;
}

img.logo-img:hover {
	opacity: .7;
	-webkit-transition: 0.3s;
}

.oc-main {
	flex: 0 0 60%;
	padding-right: 5px;
}

.oc-hf-icon {
	padding-left: 5px;
	padding-right: 0
}

.oc-time {
	margin-top: -3px;
	text-align: right;
	display: inline-block;
	float: right;
	background: #151515;
	border: 1px solid #1b1a1a;
	box-shadow: 0 0 5px #0a0a0a inset;
	padding: 5px 15px;
	font-size: 9px;
	text-transform: uppercase;
	color: #A18EC3;
	text-shadow: 0 0 2px #000;
}

.oc-item-menu {
	flex: 0 0 25%;
	max-width: 300px;
}

.rate-thread {
	float: right;
	padding-right: 20px;
	padding-top: 18px;
}

div#s2id_to {
	width: 302px;
}

.select2-container-multi .select2-choices {
	height: auto!important;
	height: 1%;
	margin: 0;
	padding: 0 5px 0 0;
	position: relative;
	border: 1px solid #353535;
	cursor: text;
	overflow: hidden;
	background-color: #2b2b2b;
	background-image: linear-gradient(to bottom, #292929, #2b2b2b);
}

.select2-container-multi {
	width: 302px!important;
}

.reputation {
	display: block;
	margin-left: -25px;
}

.reputation-mobile {
	display: none;
}

.reputation-mobile {
	border: 1px solid #383838;
	margin-top: 10px;
	background: #383838;
	padding: 5px;
}

table.reputation.tborder.trow2 {
	border: 1px solid #383838;
	background: #383838;
}

.edit-margins {
}

.last-post {
	float: right;
}

.icon-top {
	margin-top: 2px;
}

.postbit_buttons.author_buttons.float_left.mobile-remove {
	margin-right: 5px;
}

a.postbit_quote {
	margin-right: -9px;
}

#panel .lower a:hover, #panel .lower a:active {
	color: #d4d4d4;
}

#panel .upper a:hover, #panel .upper a:active {
	color: #f1f1f1;
}

#header ul.menu li a:hover {
	color: #949494;
}

a.button:link:hover, a.button:link:visited, a.button:link:active {
	background: #252525;
}

#quickreply_spinner .fa {
	font-size: 36px;
}

#container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

#footer {
	clear: both;
	justify-content: flex-end;
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
}

#footer ul.menu {
	margin: 0;
	padding: 0;
	list-style: none;
}

#footer ul.menu li {
	margin: 0 15px 0 0;
	display: inline;
}

#footer .upper {
	background: #1f1f1f;
	border-top: 1px solid #0c0c0c;
	border-bottom: 1px solid #151414;
	padding: 5px 18px;
	font-size: 15px !important;
	overflow: hidden;
}

#footer a:link, #footer a:visited, #footer a:hover, #footer a:active {
	color: #9c9c9c;
}

#footer .upper .language {
	float: right;
	margin: -1px;
	margin-left: 15px;
}

#footer .upper .language select {
	border-color: #ccc;
}

#footer .upper .theme {
	float: right;
	margin: -1px;
	margin-left: 15px;
}

#footer .upper .theme select {
	border-color: #292929;
}

#footer .upper ul.bottom_links {
	float: left;
	margin: 3px 0 0;
}

.dropdown-menu > li > a > span {
	font-size: 14px !important;
}

#footer .lower {
	background: #333;
	padding: 12px 17px;
	font-size: 11px;
	letter-spacing: .25px;
	color: #9c9c9c;
	font-weight: 700;
	text-transform: uppercase;
}

#footer .lower a:link, #footer .lower a:visited {
	color: #9c9c9c;
	font-weight: 700
}

#footer .lower a:hover, #footer .lower a:active {
	color: #565656;
	text-decoration: underline;
	font-weight: 700
}

#footer .lower #current_time {
	float: right;
}

#debug {
	float: right;
	text-align: right;
	margin-top: 20px;
	font-size: 11px;
	color: #464646
}

.scaleimages img {
	max-width: 100%;
}

table {
	color: #b3b3b3;
	font-size: 14px;
}

.tborder {
	background: #1f1f1f;
	width: 100%;
	border: 1px solid #1f1f1f;
	padding: 3px;
}

.thead {
	background: #4d2f5d;
	color: #fff;
	border-bottom: 1px solid #252525;
	padding: 13px;
	font-size: 14px;
	word-break: break-all;
}

.thead a:link {
	color: #fff;
	text-decoration: none;
}

.thead a:visited {
	color: #fff;
	text-decoration: none;
}

.thead a:hover, .thead a:active {
	color: #fff;
}

.tcat {
	color: #fff;
	border: none;
	background: #1F1F1F;
	color: #fff;
	border-top: 1px solid #1f1f1f;
	border-bottom: 1px solid #1d1d1d;
}

.tcat a:link {
	color: #fff;
}

.tcat a:visited {
	color: #fff;
}

.tcat a:hover, .tcat a:active {
	color: #fff;
}

.trow1 {
	background: #333;
	border-top: 1px solid #3c3c3c;
	border-bottom: 1px solid #1d1d1d;
	padding: 10px;
}

.trow2 {
	background: #333;
	border-top: 1px solid #3c3c3c;
	border-bottom: 1px solid #1d1d1d;
	padding: 10px;
}

.trow_shaded {
	background: #999999;
        color: #000;
}

.trow_shaded span.smalltext {
        color: #000;
}

.no_bottom_border {
	border-bottom: 0;
}

.post.unapproved_post {
	background: #ffdde0;
}

.post.unapproved_post .post_author {
	border-bottom-color: #ffb8be;
}

.post.classic.unapproved_post .post_author {
	border-color: #ffb8be;
}

.post.unapproved_post .post_controls {
	border-top-color: #ffb8be;
}

.trow_deleted, .post.deleted_post {
	background: #e8deff !important;
	border-top: 1px solid #3d3640;
	border-bottom: 1px solid #1c1a1d;
	color: #ababab!important;
	font-weight: 400;
}

.post.deleted_post .post_author, .post.deleted_post .post_content {
      background: #e8deff !important;
}

.trow_selected, tr.trow_selected td {
	background: #2d2d2d;
	color: #b5b5b5;
}

.trow_selected a:link, .trow_selected a:visited, .trow_selected a:hover, .trow_selected a:active {
	color: #757575;
}

.trow_sep {
    background: #282828;
    border-top: 1px solid #3c3c3c;
    border-bottom: 1px solid #1d1d1d;
    color: #e2e2e2;
    padding: 6px;
    font-size: 12px;
    font-weight: 700;
}

.tfoot {
	border-top: 1px solid #1f1f1f;
	padding: 6px;
	background: #1f1f1f;
	color: #f7f7f7;
}

.tfoot a:link {
	color: #adadad;
	text-decoration: none;
}

.tfoot a:visited {
	color: #adadad;
	text-decoration: none;
}

.tfoot a:hover, .tfoot a:active {
	color: #e4e4e4;
}

.thead input.textbox, .thead select {
	border: 1px solid #2b1b33;
}

.bottommenu {
	background: #efefef;
	color: #333;
	border: 1px solid #4874a3;
	padding: 10px;
}

.navigation {
	color: #333;
	font-size: 12px;
}

.navigation a:link {
	text-decoration: none;
}

.navigation a:visited {
	text-decoration: none;
}

.navigation a:hover, .navigation a:active {
	text-decoration: underline;
}

.navigation .active {
	color: #fff;
	font-size: 15px;
	font-weight: 700
}

.smalltext {
	font-size: 14px;
	color: #ababab;
}

.tinytext {
	font-size: 12px;
	color: #ababab;
}

.largetext {
	font-size: 16px;
	font-weight: 700;
}

.attatchment_adjust {
	padding-top: 12px;
}

fieldset {
	padding: 12px;
	border: 1px solid #333;
	margin: 0;
	background: #333;
}

fieldset.trow1, fieldset.trow2 {
	border-color: #3a3a3a;
}

fieldset.align_right {
	text-align: right;
}

input.textbox {
	min-width: 220px;
	background: #2a2a2a;
	padding: 8px;
	border: 1px solid #222;
	color: #eeeeee;
	font-size: 13px;
}

textarea {
	background: #2a2a2a;
	color: #cecece;
	border: 1px solid #222;
	padding: 2px;
	line-height: 1.4;
	font-family: Verdana, Arial, Sans-Serif;
	font-size: 15px;
}

select {
	background: #2a2a2a;
	padding: 7px;
	border: 1px solid #555;
	color: #d4d4d4;
	font-size: 12px;
}

button, input.button {
	cursor: pointer;
	background: #2d2d2d;
	padding: 8px 10px;
	border: 1px solid #555;
	outline: 0;
	color: #d4d4d4;
	outline: 0;
	font-size: 12px;
	font-family: Verdana, Arial, Sans-Serif;
}

.postbit_buttons > a:hover, .button:hover {
	background-color: #4d2f5d !important;
	border-color: #4d2f5d !important;
}

form {
	margin: 0;
	padding: 0;
}

form input.error {
}

form input.valid {
	color: #fff;
	padding: 3px;
}

form label.error {
	color: #d5b6e5;
	margin: 5px;
	padding: 0;
	display: block;
	font-size: 12px;
	text-shadow: 0 0 1px #0003;
}

form #message {
	width: 500px;
}

.editor {
	background: #f1f1f1;
	border: 1px solid #ccc;
}

.editor_control_bar {
	background: #3a3a3a;
	border: 1px solid #333333;
	padding-left: 6px !important;
}

.post .editor_control_bar {
	background: #f5f5f5;
}

.popup_menu {
	background: #1f1f1f;
	border: 2px solid #1f1f1f;
	margin-top: 4px;
}

.popup_menu .popup_item {
	background: #3838386b;
	color: #a4a4a4;
	font-size: 11.5px;
}

.popup_menu .popup_item:hover {
	background: rgba(76, 48, 93, 0.7490196078431373);
	color: #fff;
}

.trow_reputation_positive {
	background: #333;
}

.trow_reputation_negative {
	background: #333;
}

.reputation_positive {
	color: #00B500;
}

.reputation_neutral {
	color: #C3C3C3;
}

.reputation_negative {
	color: #FF2121;
}

.repbox {
	font-size: 18px;
	padding: 3px 9px;
}

._neutral {
	color: #C3C3C3;
	border: 1px solid #C3C3C3;
	background: #282828;
}

._minus {
	color: #FF2121;
	border: 1px solid #FF2121;
	background: #282828;
}

._plus {
	color: #00B500;
	border: 1px solid #00B500;
	background: #282828;
}

img {
	border: none;
}

img.attachment {
	border: 1px solid #E9E5D7;
	padding: 2px;
}

hr {
	background-color: #3a3939;
	color: #dadada;
	height: 1px;
	border: 0;
}

.clear {
	clear: both;
}

.float_left {
	float: left;
}

.float_right {
	float: right;
}

.hidden {
	display: none;
	float: none;
	width: 1%;
}

.hiddenrow {
	display: none;
}

.selectall {
	background: #FFFBD9;
	border-bottom: 1px solid #F7E86A;
	color: #333;
	text-align: center;
}

.selectall a {
        color: black;
        font-weight: bold;
}

.selectall a:hover {
        color: #555;
}

.expcolimage {
	float: right;
	width: auto;
	vertical-align: middle;
	margin-top: 3px;
}

.tcat_menu>.expcolimage {
	margin-top: 0;
}

blockquote {
	border: 1px dashed #555;
	margin: 0;
	background: #444;
	padding: 10px;
	color: #999;
}

blockquote cite {
	font-style: normal;
	background: #444;
	border-bottom: 0px;
	display: block;
	padding: 10px;
	margin: -10px;
	margin-bottom: 10px;
}

blockquote cite:after {
    content: "";
    display: block;
    margin: 0 auto;
    padding-top: 5px;
    width: 100%;
    border-bottom: 1px solid #3A3939;
}

blockquote cite span {
	float: right;
	font-weight: 400;
	font-size: 12px;
	padding-top: 2px;
	color: #999;
}

blockquote cite span span {
	float: none;
}

blockquote cite span.highlight {
	float: none;
	font-weight: 700;
	padding-bottom: 0;
}

.formatted_quote_username span {
	font-size: unset;
    font-weight: unset;
    padding-top: unset;
	float: left;
	padding-right: 4px;
}

.codeblock {
	background: #2F2F2F;
	border: 1px dashed #888;
        overflow: hidden;
}

.codeblock .title {
	font-weight: 700;
        background: #292929;
        padding: 3px 10px;
}

.codeblock .body {
        padding: 0px;
        color: #999;
}

.codeblock code {
	overflow: auto;
	height: auto;
	max-height: 250px;
	display: block;
	font-family: Monaco, Consolas, Courier, monospace;
	font-size: 13px;
}

.smilie {
	vertical-align: middle;
}
.smilie_insert {
	margin: 5px;
	font-size: 18px;
	flex: 1 0 calc(25% - 10px);
	cursor: pointer;
}

.separator {
	margin: 5px;
	padding: 0;
	height: 0;
	font-size: 1px;
	list-style-type: none;
}

.popup_menu .popup_item_container {
	margin: 1px;
	text-align: left;
}

.popup_menu .popup_item {
	display: block;
	padding: 4px 10px;
	white-space: nowrap;
	text-decoration: none;
	/* margin-top: 2px; */
}

.popup_menu a.popup_item:hover {
	text-decoration: none
}

.subject_new, a.subject_new {
	color: #ccc;
	font-size: 15px;
	font-weight: 700;
}

.highlight {
	background: #FF00BA;
	padding-top: 2px;
	padding-bottom: 2px;
        color: #fff;
}

.pm-alert {
	margin-top: 2px;
	color: #4c305d;
	text-shadow: 0px 0px 1px #0000008c;
}

.pm_alert:hover {
	background: #272727;
	-webkit-transition: 0.3s;
}

.pm_alert {
	background: #1f1f1f;
	border-top: 1px solid #252525;
	text-align: center;
	padding: 12px 20px;
	margin-bottom: 30px;
	font-size: 13px;
	color: #7d618e;
	text-shadow: 0 0 5px #00000059;
	-webkit-transition: all 0.5s;
}

.ban_notice {
	background: #1f1f1f;
	text-align: center;
	padding: 8px 20px;
	margin-bottom: 30px;
	font-size: 14px;
	word-wrap: break-word;
	box-shadow: 0px 0px 3px 1px #ff2f2f;
}

.red_notice {
	background: #1f1f1f;
	border: 1px solid #1f1f1f;
	text-align: center;
	padding: 8px 20px;
	margin-bottom: 30px;
	font-size: 11px;
	word-wrap: break-word;
}

.red_notice a:link, .red_notice a:visited, .red_notice a:hover, .red_notice a:active {
	color: #fff;
}

.high_warning {
	color: #C00;
}

.moderate_warning {
	color: #F3611B;
}

.low_warning {
	color: #AE5700;
}

.online {
	color: #15A018;
}

.offline {
	color: #C7C7C7;
}

div.error {
	padding: 5px 10px;
	background: #603675;
	font-size: 14px;
	color: #ffffff8a;
	border-radius: 5px;
	margin-bottom: 20px;
        margin-top: 3px;
}

div.error p {
	margin: 0;
	color: #333;
	font-weight: bold;
}

div.error p em {
	font-style: normal;
	display: block;
	color: #ffffff;
}

div.error ul {
}

div.success {
	padding: 5px 10px;
	background: #4CAF50;
	font-size: 14px;
	color: #ffffff;
	border-radius: 5px;
	margin-bottom: 20px;
    margin-top: 3px;
	text-shadow: 1px 1px 2px black;
}

div.success p {
	margin: 0;
	color: #333;
	font-weight: bold;
}

div.success p em {
	font-style: normal;
	display: block;
	color: #ffffff;
}

div.failure {
	padding: 5px 10px;
	background: #a63d3d;
	font-size: 14px;
	color: #ffffff;
	border-radius: 5px;
    margin-top: 3px;
	text-shadow: 1px 1px 2px black;
}

div.failure p {
	margin: 0;
	color: #333;
	font-weight: bold;
}

div.failure p em {
	font-style: normal;
	display: block;
	color: #ffffff;
}

.pagination a, .pagination span {
	display: inline-block;
}

.pagination {
	font-size: 11px;
}

.tfoot .pagination, .tcat .pagination {
	padding-top: 0;
}

.pagination .pages {
	font-weight: 700;
	padding-right: 5px;
}

.pagination .pagination_current, .pagination a {
	padding: 6px 8px;
	margin-bottom: 3px;
	margin-top: 3px;
}

.pagination a {
	background: #555;
	border: 1px solid #555;
}

.pagination .pagination_current {
	color: #fff;
	font-weight: 700;
	background: #4d2f5d;
	border: 1px solid transparent;
}

.pagination a:hover {
	background: #444343;
	color: #fff;
	border-color: #444343;
	text-decoration: none;
}

.pagination .go_page img {
	margin-bottom: -4px
}

.drop_go_page {
	background: #1f1f1f;
	padding: 4px;
}

.breadcrumb {
	/*centering*/
	text-align: center;
	display: inline-block;
	overflow: hidden;
	position:  relative;
	width: 100%;
	max-width: 100%;
	margin-bottom: 20px;
	border-radius: 5px;
}

.breadcrumb a {
        font-weight: bold;
	text-overflow: ellipsis;
	min-width: 10%;
	max-width: 23%;
	text-decoration: none;
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	float: left;
	font-size: 13px;
	line-height: 36px;
	padding-left: 30px;
	padding-right: 18px;
	background: #1f1f1f;
	color: #bdbdbd;
	position: relative;
	transition: all 0.3s;
	z-index: 2;
}

.breadcrumb a:first-child {
	text-overflow: clip;
	min-width: 0px;
	padding-left: 20px;
	border-radius: 0px;
	border-radius:  5px !important;
}

.breadcrumb :nth-child(-n + 2):not(:last-child)  {
    display: inline !important;
}

.breadcrumb :nth-child(n+3):nth-child(-n+4){ 
    display: none !important;
}

.breadcrumb a:nth-last-child(-n+2) {
	position: absolute;
	max-width: 100%;
	text-align: right;
	width: 100%;
	right: 0px;
	z-index:  1;
	padding-right: 15px;
}

.breadcrumb p:nth-last-child(-n+2) {
text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
width:200px;
}



.breadcrumb a.active, .breadcrumb a:hover {
	background: #2b2b2b;
	color: #d2d2d2;
}

.breadcrumb a:hover+span {
	background: #2b2b2b;
}

.breadcrumb span:last-child {
	display: none;
}

.breadcrumb a.active:after, .breadcrumb a:hover:after {
	background: #dadada;
}

.arrow {
	display: inline-block;
	float: left;
	background: #1f1f1f;
	color: #dadada;
	position: relative;
	right: 18px;
	height: 36px;
	width: 36px;
	transform: scale(0.707) rotate(45deg);
	z-index: 3;
	box-shadow: 3px -3px 0 2px rgb(13, 13, 13), 5px -5px 0 2px rgba(45, 45, 45, 0.4);
	transition: all 0.3s;
	background: #1f1f1f;
	margin-right: -36px;
}

.breadcrumb>*>a {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#ptipoints {
	display: block;
	text-align: center;
	min-width: 0px;
}

.thread_legend, .thread_legend dd {
	margin: 0;
	padding: 0;
}

.thread_legend dd {
	padding-bottom: 4px;
	margin-right: 15px;
	color: #ccc;
}

.thread_legend img {
	margin-right: 4px;
	vertical-align: bottom;
}

.forum_legend, .forum_legend dt, .forum_legend dd {
	margin: 0;
	padding: 0;
}

.forum_legend dd {
	float: left;
	margin-right: 10px;
	margin-top: 15px;
	color: #505050;
}

.forum_legend dt {
	margin-right: 10px;
	float: left;
}

.success_message {
	color: #00b200;
	font-weight: 700;
	font-size: 10px;
	margin-bottom: 10px;
}

.error_message {
	color: #C00;
	font-weight: 700;
	font-size: 10px;
	margin-bottom: 10px;
}

#posts_container {
	padding: 0;
}

.post {
	overflow: visible;
}

.ignored_post {
	border-top: 3px solid #333;
	padding: 15px;
}

.ignored_post .show_ignored_post {
	margin-top: -15px;
}

.ignored_post .show_ignored_post a.button span {
	background-position: 0 -400px;
}

.post.classic {
	padding-top: 15px;
	background: #333;
}

.post .post_author {
	padding: 10px 20px;
	overflow: hidden;
	background: #333;
}

.post.classic .post_author {
	float: left;
	width: 220px;
	margin: 0 1% 15px 0;
	border: 0;
	border-right: 1px solid transparent;
	border-image: -webkit-linear-gradient(top, #333333 0%, #764a90 50%, #764a90 51%, #4c305d 100%);
	border-image-slice: 1;
	padding: 5px 1%;
	position: relative;
	position: -webkit-sticky;
	position: sticky;
	top: 20%;
}

.post .post_author .buddy_status {
	vertical-align: middle;
	margin-top: -4px;
}

.post .post_author div.author_avatar {
	float: left;
	margin-right: 3px;
}

.post.classic .post_author div.author_avatar {
	float: none;
	text-align: center;
	margin-bottom: 8px;
}

.post .post_author div.author_avatar img {
	padding: 2px;
	border: 1px solid #333;
	background: #333;
}

.post .post_author div.author_information {
	float: left;
	padding: 6px 8px;
}

.post.classic .post_author div.author_information {
	float: none;
	padding: 0;
	text-align: center;
}

.post .post_author div.author_statistics {
	float: right;
	font-size: 13px;
	padding: 3px 10px 3px 5px;
	color: #666;
	line-height: 1.3
}

.post.classic .post_author div.author_statistics {
	margin: 6px 0 0;
	padding: 6px;
	float: none
}

.post .post_head {
	font-size: 11px;
	padding-bottom: 4px;
	margin-bottom: 4px;
}

.post .post_head span.post_date {
	color: #adadad;
}

.post .post_head span.edited_post {
	font-size: 10px;
	color: #999;
}

.post .post_head span.edited_post a {
	color: #fff;
}

.post_body {
	font-size: 15px;
	padding: 20px 0
}

.post.classic .post_content {
	display: inline-block;
	width: calc(94% - 220px);
	padding: 0 1% 5px
}

.post_content {
	padding: 9px 10px 5px;
	background: #333;
	font-size: 15px
}

.post_content .signature {
	margin-top: 5px;
	border-top: 1px dashed #555;
	padding: 10px 0 4px;
        overflow: hidden;
        max-height: 200px;
}

.post .post_meta {
	margin: 4px 0;
	font-size: 11px;
	color: #999
}

.post .post_meta a:link, .post .post_meta a:visited {
	color: #777
}

.post .post_meta a:hover, .post .post_meta a:active {
	color: #777
}

.post_controls {
	clear: both;
	background: #232323;
	padding: 5px;
}

.postbit_buttons>a:link, .postbit_buttons>a:hover, .postbit_buttons>a:visited, .postbit_buttons>a:active {
	display: inline-block;
	padding: 2px 5px;
	margin: 3px;
	font-size: 11px;
	background: #333;
	border: 1px solid #333;
	color: #b7b7b7;
}

.postbit_buttons>a:hover {
	background: #383838;
	border: 1px solid #383838
}

.postbit_buttons a span {
	display: inline-block;
	height: 16px;
	padding: 3px 7px
}

a.button:link {
	display: inline-block;
	font-size: 14px;
	background: #1f1f1f;
	color: #efefef;
	padding: 10px 15px;
	margin: 5px 0;
}

a.button.small_button {
	font-size: 13px;
	margin: 0;
	padding: 3px 6px
}

.quick_jump {
	padding-left: 0px;
	margin-top: 0px;
	border: none;
	display:  inline-block;
}

.quick_jump:before {
    font-family: "Font Awesome 5 Pro";
    font-size: 15px;
    font-weight: 900;
    color: #9575CD;
    content: "\f101";
    position: absolute;
    z-index: 1;
    margin-top: 1px;
}

.pollbar {
	background: url(../../../images/pollbar.png) top left repeat-x;
	border: 1px solid #3f3f3f;
	height: 10px
}

.pollbar .percent {
	display: none
}

.posticons_label {
	white-space: nowrap
}

.ie6 {
	position: absolute
}

.jGrowl {
	z-index: 9999;
	color: #fff;
	font-size: 14px;
	position: fixed;
	font-weight: 500;
	text-shadow: 0px 1px 1px #00000075;
}

.jGrowl.top-left {
	left: 0;
	top: 0
}

.jGrowl.top-right {
	right: 0;
	top: 0
}

.jGrowl.bottom-left {
	left: 0;
	bottom: 0
}

.jGrowl.bottom-right {
	right: 0;
	bottom: 0
}

.jGrowl.center {
	top: 0;
	width: 50%;
	left: 25%
}

.jGrowl.center .jGrowl-notification, .jGrowl.center .jGrowl-closer {
	margin-left: auto;
	margin-right: auto
}

.jGrowl-notification {
	background-color: transparent;
	opacity: 0.9;
	filter: alpha(opacity=90);
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
	zoom: 1;
	width: 250px;
	padding: 10px;
	margin: 10px;
	text-align: left;
	display: none;
	overflow-wrap: break-word;
}

.jGrowl .jGrowl-notification {
	min-height: 40px
}

.jGrowl-notification .ui-state-highlight, .jGrowl-notification .ui-widget-content .ui-state-highlight, .jGrowl-notification .ui-widget-header .ui-state-highlight {
	border: 1px solid #000;
	background: #000;
	color: #fff
}

.jGrowl-notification .jGrowl-header {
	font-weight: 700;
	font-size: .85em
}

.jGrowl-notification .jGrowl-close {
	background-color: transparent;
	color: inherit;
	border: none;
	z-index: 99;
	float: right;
	font-weight: 700;
	font-size: 1.5em;
	cursor: pointer
}

.jGrowl-closer {
	background-color: #000;
	opacity: 0.9;
	filter: alpha(opacity=90);
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
	zoom: 1;
	width: 250px;
	padding: 10px;
	margin: 10px;
	text-align: left;
	display: none;
	word-break: break-all;
	padding-top: 4px;
	padding-bottom: 4px;
	cursor: pointer;
	font-size: .9em;
	font-weight: 700;
	text-align: center
}

.jGrowl-closer .ui-state-highlight, .jGrowl-closer .ui-widget-content .ui-state-highlight, .jGrowl-closer .ui-widget-header .ui-state-highlight {
	border: 1px solid #000;
	background: #000;
	color: #fff
}

.jGrowl .jGrowl-notification.jgrowl_success {
	background: #457245;
	border: 1px solid #457245;
}

.jGrowl .jGrowl-notification.jgrowl_error {
	background: #a63d3d;
	border: 1px solid #a63d3d;
}

.jGrowl .jGrowl-notification.jgrowl_process, .jGrowl .jGrowl-closer {
	background: #FF0;
	border: 1px solid #FF0;
	color: #333
}

@media print {
	.jGrowl {
		display: none
	}
}

.blocker {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	z-index: 9999;
	padding: 20px;
	box-sizing: border-box;
	background-color: #000;
	background-color: rgba(0, 0, 0, 0.75);
	text-align: center
}

.blocker:before {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -.05em
}

.blocker.behind {
	background-color: transparent
}

.blocker {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	z-index: 9999;
	padding: 20px;
	box-sizing: border-box;
	background-color: #000;
	background-color: rgba(0, 0, 0, 0.75);
	text-align: center
}

.blocker:before {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -.05em
}

.blocker.behind {
	background-color: transparent
}

.modal {
	width: 400px;
	text-align: left;
	background: #fff;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	z-index: 2;
}

.modal a.close-modal {
	position: absolute;
	top: -12.5px;
	right: -12.5px;
	display: block;
	width: 30px;
	height: 30px;
	text-indent: -9999px;
	background: url(../../../images/close.png) no-repeat 0 0
}

.modal-spinner {
	display: none;
	width: 64px;
	height: 64px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-right: -32px;
	margin-top: -32px;
	background: url(../../../images/spinner_big.gif) no-repeat center center;
}

.jqifade {
	position: absolute;
	background-color: #777
}

div.jqi {
	width: 400px;
	max-width: 90%;
	position: absolute;
	background-color: #333;
	font-size: 11px;
	text-align: left;
	border: solid 5px #000;
}

div.jqi .jqiclose {
	position: absolute;
	top: 4px;
	right: -2px;
	width: 18px;
	cursor: default;
	color: #0F0;
	font-weight: 700
}

div.jqi .jqistate {
	background-color: #333;
}

div.jqi .jqititle {
	padding: 5px 10px;
	font-size: 16px;
	line-height: 20px;
}

div.jqi .jqimessage {
	padding: 10px;
	line-height: 20px;
	color: #ccc;
}

div.jqi .jqibuttons {
	text-align: right;
	margin: 0 -7px -7px;
	background-color: #333;
}

div.jqi .jqibuttons button {
	margin: 0;
	padding: 6px 20px;
	background-color: transparent;
	font-weight: 400;
	border: none;
	font-weight: 700;
	font-size: 12px;
        color:#ccc;
}

div.jqi .jqibuttons button.jqidefaultbutton {
	color: #0F0;
}

div.jqi .jqibuttons button:hover, div.jqi .jqibuttons button:focus {
	color: #0F0;
	outline: none
}

.jqiwarning .jqi .jqibuttons {
	background-color: #333;
}

div.jqi .jqiparentstate::after {
	background-color: #333;
	opacity: 0.6;
	filter: alpha(opacity=60);
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

div.jqi .jqisubstate {
	position: absolute;
	top: 0;
	left: 20%;
	width: 60%;
	padding: 7px;
	border: solid 1px #000;
	border-top: none;
}

div.jqi .jqisubstate .jqibuttons button {
	padding: 10px 18px
}

.jqi .jqiarrow {
	position: absolute;
	height: 0;
	width: 0;
	line-height: 0;
	font-size: 0;
	border: solid 10px transparent
}

.jqi .jqiarrowtl {
	left: 10px;
	top: -20px;
	border-bottom-color: #fff
}

.jqi .jqiarrowtc {
	left: 50%;
	top: -20px;
	border-bottom-color: #fff;
	margin-left: -10px
}

.jqi .jqiarrowtr {
	right: 10px;
	top: -20px;
	border-bottom-color: #fff
}

.jqi .jqiarrowbl {
	left: 10px;
	bottom: -20px;
	border-top-color: #fff
}

.jqi .jqiarrowbc {
	left: 50%;
	bottom: -20px;
	border-top-color: #fff;
	margin-left: -10px
}

.jqi .jqiarrowbr {
	right: 10px;
	bottom: -20px;
	border-top-color: #fff
}

.jqi .jqiarrowlt {
	left: -20px;
	top: 10px;
	border-right-color: #fff
}

.jqi .jqiarrowlm {
	left: -20px;
	top: 50%;
	border-right-color: #fff;
	margin-top: -10px
}

.jqi .jqiarrowlb {
	left: -20px;
	bottom: 10px;
	border-right-color: #fff
}

.jqi .jqiarrowrt {
	right: -20px;
	top: 10px;
	border-left-color: #fff
}

.jqi .jqiarrowrm {
	right: -20px;
	top: 50%;
	border-left-color: #fff;
	margin-top: -10px
}

.jqi .jqiarrowrb {
	right: -20px;
	bottom: 10px;
	border-left-color: #fff
}

.alert {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
}

.alert h4 {
	margin-top: 0;
	color: inherit
}

.alert .alert-link {
	font-weight: 700
}

.alert>p, .alert>ul {
	margin-bottom: 0
}

.alert>p+p {
	margin-top: 5px
}

.alert-success {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6
}

.alert-success hr {
	border-top-color: #c9e2b3
}

.alert-success .alert-link {
	color: #2b542c
}

.alert-info {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1
}

.alert-info hr {
	border-top-color: #a6e1ec
}

.alert-info .alert-link {
	color: #245269
}

.alert-warning {
	color: #8a6d3b;
	background-color: #fcf8e3;
	border-color: #faebcc
}

.alert-warning hr {
	border-top-color: #f7e1b5
}

.alert-warning .alert-link {
	color: #66512c
}

.alert-danger {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1
}

.alert-danger hr {
	border-top-color: #e4b9c0
}

.alert-danger .alert-link {
	color: #843534
}

input.checkbox label {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
}

input.checkbox {
  width: 13px;
  height: 13px;
  padding: 0;
  margin:0;
  vertical-align: bottom;
  position: relative;
  top: 1px;
  overflow: hidden;
}

.video_response {
width: 640px;
height: 390px;
}

.editor_response, .editor_response img, .editor_response iframe {
    max-width: 100%;
    height: auto !important;
}

.author_wrapper{text-align:center;max-width:145px;margin:0 auto;min-width:100px;background: #444;padding: 5px;color: #aaa;border: 1px dashed #555}
.author_row{padding-bottom:3px;text-align:left}
.author_label{display:inline-block}
.author_value{display:inline-block;text-align:right;float:right}

    #ptipoints{
      display:none;
    }
    #ptipoints + span{
     display:none;
     }
		

.headerad{margin-top: -20px;margin-bottom: 50px}
.headerad img {max-width: 100%;}

.mam-header {margin-top: -15px;margin-bottom: -5px}
.mam-header img {max-width: 100%;}
.mam-header a:nth-child(2) {margin-left: 10px;}

.mam-footersmall {margin-top: 15px;}
.mam-footersmall img {margin-left: 5px;}

.mam-footerbig {margin-top: 15px;}

.mam-inline {margin-top:4px;}

.profileAvatar{max-width:120px;max-height:150px;float:right}


/* START GROUP USERNAME COLORS */

.group0 {
	color: #FFF;
	text-decoration: none;
}

.group2 {
	color: #efefef;
	text-decoration: none;
}

.group3 {
	color: #99CCFF;
	font-weight:bold;
	text-decoration: none;
}

.group4 {
	color: #9999FF;
	font-weight:bold;
	text-decoration: none;
}

.group6 {
	color: #AAAAFF;
	font-weight:bold;
	text-decoration: none;
}

.group7 {
	color: #000;
	text-decoration: none;
}

.group9 {
	color: #FFCC00;
	text-decoration: none;
}

.group23 {
	color: #00cc66;
	text-decoration: none;
        font-weight: bold;
}

.group24 {
	color: #AA00FF;
	text-decoration: none;
}

.group28 {
	color: #0066FF;
	text-decoration: none;
}

.group38 {
	color: #ccc;
	text-decoration: line-through;
}

.group44 {
	color: #000000;
	text-decoration: none;
	font-weight: bold;
	text-shadow: -1px -1px 0 #f6b901, 1px -1px 0 #f6b901, -1px 1px 0 #f6b901, 1px 1px 0 #f6b901;
}

.group46 {
	color: #0077b6;
	text-decoration: none;
	font-weight: bold;
	text-shadow: 0px 1px 1px #48cae4;
}

.group48 {
	color: #A75454;
	text-decoration: none;
	text-shadow: 0px 2px 2px #000;
        font-weight: bold;
}

.group49 {
	color: #ed1c24;
	text-decoration: none;
}

.group50 {
	color: #FFF;
	text-decoration: none;
	font-weight: 900;
	text-shadow: 2px 2px 5px #FFD700;
}

.group52 {
	color: #FF99CC;
	text-decoration: none;
        font-weight: bold;
  	font-family: Comic Sans MS;
	text-shadow: 2px 2px 2px #4020dd;
}

.group53 {
	color: #1a1a1a;
	text-shadow: 0px 2px 8px #eaeaea;
	text-decoration: none;
	font-weight: bold;
}

.group54 {
	color: #40074E;
	text-shadow: 1px 1px #e30ee9;
	text-decoration: none;
}

.group56 {
	color: #171717;
	text-decoration: none;
	text-shadow: 1.7px 1.6px 1.6px #b5252d;
	font-weight: bold;
}

.group57 {
    color: #ffffff;
    font-weight: bold;
    text-shadow: 0px 2px 2px #fa0606;
    text-decoration: none;
}

.group59 {
	color: #1ecafe;
	text-decoration: none;
      font-weight: bold;
      text-shadow: 0px 2px 2px #000;
}

.group60 {
	color: #000000;
	text-decoration: none;
	font-weight: bold;
	text-shadow: -1px -1px 0 #6bff74, 1px -1px 0 #6bff74, -1px 1px 0 #6bff74, 1px 1px 0 #6bff74; 
}

.group63 {
	color: #EC7E03;
	text-shadow: 1px 1px 1px #000;
	text-decoration: none;
}

.group66 {
	color: #0cfa31;
	text-decoration: none;
}

.group67 {
	color: #2D7E52;
	font-weight:bold;
	text-shadow: 0px 2px 3px #000;
	text-decoration: none;
}

.group69 {
	color: #4F8082;
	text-decoration: none;
}

.group70 {
	color: #ff54a1;
	text-decoration: none; 
	font-weight: bold; 
	text-shadow: 2px 2px 2px #000000;
}

.group71 {
	color: #00feb0;
	text-decoration: none;
	text-shadow: 0px 2px 3px #000;
}

.group73 {
	color: #ff7178;
	font-weight: bold;
	text-shadow: 1px 1px 2px black;
	text-decoration: none;
}

.tiplink {
    position: relative;
}

.tiplink:hover .tooltip {
    display: block;
}

.tooltip {
    width: 300px;
    display: none;
    border: 2px solid #000;
    background: #343434;
    left: 25px;
    top: 0px;
    padding: 5px;
    position: absolute;
    z-index: 1000;
}

.ribbon-wrapper {
  width: 110px;
  height: 120px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon {
  font: bold 15px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 15px 0;
  left: -5px;
  top: 15px;
  width: 160px;
  background-color: #fff;
  background-image: -webkit-linear-gradient(top, #36d900, #00b360);
  background-image:    -moz-linear-gradient(top, #36d900, #00b360);
  background-image:     -ms-linear-gradient(top, #36d900, #00b360);
  background-image:      -o-linear-gradient(top, #36d900, #00b360);
  color: #fff;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon:before, .ribbon:after {
  content: "";
  border-top:   3px solid #00d936;   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon:before {
  left: 0;
}

.ribbon:after {
	right: 0;
}

.post_myawards{width:144px;margin:0 auto}

/* END GROUP USERNAME COLORS */

/* START MYALERT */

.alerts--new a{color:#8bc34a!important}

/* END MYALERT */


.tright{
text-align:right;
}

.tleft{
text-align:left;
}

.tcenter{
text-align:center;
}

h1 {
font-size:14px;
line-height: 1.4;
margin: 0;
padding: 0;
display: inline-block;
}

tr td.trow1:first-child,
tr td.trow2:first-child,
tr td.trow_shaded:first-child {
    border-left: 0
}

.tborder {
    border-radius: 7px
}

.tborder tbody tr:last-child td {
    border-bottom: 0
}

.tborder tbody tr:last-child td:first-child {
    border-bottom-left-radius: 6px
}

.tborder tbody tr:last-child td:last-child {
    border-bottom-right-radius: 6px
}

.stat_average {
    border-bottom-right-radius: 6px !important
}

.stat_latest {
	border-bottom: 1px solid #1d1d1d !important;
    border-bottom-left-radius: 0px !important
}

.stat_richest {
	border-bottom-left-radius: 6px
}

.stat_general {
	border-bottom: 1px solid #1d1d1d !important;
    border-bottom-right-radius: 0px !important
}

.paperclipthread {
color: #0f0;
}

.thead {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px
}

.thead_collapsed {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px
}

.thead_left {
    border-top-right-radius: 0
}

.thead_right {
    border-top-left-radius: 0
}

.tcat_menu {
    border-radius: 0 !important
}

.tborder tbody:nth-last-child(2) .tcat_collapse_collapsed {
    border-bottom-left-radius: 6px !important;
    border-bottom-right-radius: 6px !important
}

button,
input.button,
input.textbox,
input.invalid_field,
input.valid_field,
select,
textarea,
.editor_control_bar,
blockquote,
.codeblock,
fieldset,
.pm_alert,
.red_alert,
.popup_menu,
.postbit_buttons>a,
a.button {
    border-radius: 0px;
}

.post.classic .post_author {
    border-radius: 0 6px 6px 0
}

.popup_menu .popup_item_container:first-child .popup_item {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.popup_menu .popup_item_container:last-child .popup_item {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.pollbar, .red_alert, a.button:link,
.postbit_buttons>a:link,.postbit_buttons>a:hover,.postbit_buttons>a:visited,.postbit_buttons>a:active {
    border-radius: 3px
}

button,input.button, select, input.textbox,
._neutral, ._minus, ._plus, .oc-time, .alert,
.pagination .pagination_current,.pagination a,
.pagination .pagination_current {
    border-radius: 4px
}

.editor_control_bar, .jGrowl-notification,
.jGrowl-closer, .reputation-mobile,
table.reputation.tborder.trow2 {
    border-radius: 5px
}

.pagination a, fieldset {
    border-radius: 6px
}


#panel .upper a.register:before, #panel .upper a.login:before {
    border-radius: 50%;
    border-radius: 50%
}

.modal {
box-sizing:border-box;
border-radius:8px;
box-shadow:0 0 10px #000
}

.modal-spinner {
border-radius:8px
}

div.jqi {
border-radius:6px;
padding:7px
}

div.jqi .jqibuttons {
border-radius:0 0 6px 6px;
}

div.jqi .jqiparentstate::after {
border-radius:6px;
}

div.jqi .jqisubstate {
border-radius:0 0 6px 6px;
}

input:-webkit-autofill {box-shadow: 0 0 0 30px #2b2b2b inset;border-radius:0!important;box-sizing:border-box;transition:.3s ease;}

.pm_alert {
    border-radius: 3px;
    border:1px solid
}

.breadcrumb a:first-child {
    border-radius: 4px !important;
}

.breadcrumb a:nth-last-child(-n+2) {
    border-radius: 0 5px 5px 0;
}

/**
 * Tooltip Styles (add to html tag: data-tooltip="TOOLTIP TEXT")
 */

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  filter:alpha(opacity=0);
  -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -50px;
  padding: 5px;
  width: 100px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #ccc;
  color: #000;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 12px;
  line-height: 1.2;
  text-shadow: none;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: alpha(Opacity=100);
  opacity: 1;
}

.postbit_buttons.post_management_buttons.float_right [data-tooltip]:before {
    right: 0;
    left: initial;
}

[data-tooltip-left]:before {
    left: initial !important;
    right: calc(100% + 10px) !important;
    bottom: initial !important;
}

[data-tooltip-right]:before {
	right: initial !important;
    left: 83px !important;
    bottom: initial !important;
}