$backgroundColor: #353136;
$fontColor: #e8e9ef;
$lineColor: #4d505e;
$projectGutter: 0em;
$linkColor: #e5d8ca;
$projectSideWidth: 10em;
$width: 900px;
$min-desktop: 720px;

%fancy-link {
  &:hover {
    text-decoration-color: $lineColor;
  }

  color: $linkColor;
  text-decoration-color: transparentize($lineColor, 0.5);
  transition: text-decoration-color 0.2s;
}

%metadata {
  > dl {
    > dt {
      color: darken($fontColor, 20%);
      font-size: 0.7rem;
      text-transform: uppercase;
    }

    > dd {
      a {
        @extend %fancy-link;
      }

      font-size: 0.7rem;
      margin-left: 0;
      margin-bottom: 8px;
    }

    margin: 0 0 16px;
  }
}