@import "common";

%project-main {
  .title {
    font-size: x-large;
    margin-bottom: 2px;
  }

  .subtitle {
    font-size: 1.0rem;
    font-weight: lighter;
    margin-bottom: 8px;
  }

  .description {
    a {
      @extend %fancy-link;
    }

    font-size: smaller;
  }
}


.project {
  > .metadata {
    @extend %metadata;
    $thumbSize: $projectSideWidth - 1 - ($projectGutter * 2);

    > .thumbnail {
      background: {
        position: center;
        repeat: no-repeat;
        size: contain;
      }
      border: {
        radius: 4px;
        width: 1px;
        color: $lineColor;
        style: solid;
      }
      height: $thumbSize;
      margin-bottom: 8px;
      padding: $projectGutter;
      width: $thumbSize;
      display: block;
    }

    > .link {
      @extend %fancy-link;
      font-size: 0.6rem;
      text-transform: uppercase;
    }

    min-width: $projectSideWidth;
    max-width: $projectSideWidth;
  }

  > .main {
    @extend %project-main;

    margin-left: $projectGutter;
    padding-left: $projectGutter;

    flex-grow: 1;
  }

  display: flex;
  flex-direction: row;
}