$backgroundColor: #514b56;
$fontColor: #fff;
$lineColor: #bb8d9c;
$projectGutter: 4px;
$linkColor: #cad0e5;
$projectSideWidth: 100px;
$width: 900px;
$min-desktop: 720px;

body {
  background-color: $backgroundColor;
  color: $fontColor;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  @extend %fancy-link;
}

footer {
  display: flex;
  justify-content: center;
  max-width: $width;
  margin-left: auto;
  margin-right: auto;

  p {
    a {
      @extend %fancy-link;
    }

    font-size: 0.7em;
  }
}

%sidebar {
  > .subtitle {
    font-size: 0.9rem;
  }

  > .links {
    > li > a {
      @extend %fancy-link;
      font-size: 0.8rem;
      margin-right: 8px;
    }

    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-left: 0;
  }
}

.container {
  @media (min-width: $min-desktop) {
    flex-direction: row-reverse;
  }

  > .sidebar {
    @extend %sidebar;

    @media (min-width: $min-desktop) {
      width: auto;
    }

    min-width: 200px;
    max-width: 200px;
  }

  > .main {
    flex-grow: 1;
    margin-right: 0;

    @media (min-width: $min-desktop) {
      margin-right: 4px;
    }

  }

  display: flex;
  flex-direction: column;
  max-width: $width;
  margin-left: auto;
  margin-right: auto;
}

.post {
  img {
    @media (min-width: 720px) {
      width: auto;
      max-width: $width;
    }

    width: 100%;
  }
}

%fancy-link {
  &:visited {
    color: $linkColor;
    text-decoration: none;
  }

  &:hover {
    text-decoration-color: $lineColor;
  }

  color: $linkColor;
  text-decoration-color: transparentize($lineColor, 1);
  transition: text-decoration-color 0.2s;
}

%metadata {
  > dl {
    > dt {
      color: darken($fontColor, 20%);
      font-size: 0.7rem;
      text-transform: uppercase;
    }

    > dd {
      a {
        @extend %fancy-link;
      }

      font-size: 0.7rem;
      margin-left: 0;
      margin-bottom: 8px;
    }

    margin: 0;
    margin-bottom: 16px;
  }
}

%project-main {
  .title {
    font-size: 1.2rem;
    margin-bottom: 2px;
  }

  .subtitle {
    font-size: 1.0rem;
    font-weight: lighter;
    margin-bottom: 8px;
  }

  .description {
    a {
      @extend %fancy-link;
    }

    font-size: 0.8rem;
  }
}

.project-list {
  list-style-type: none;
  padding-left: 0;
}

.project-list-sm {
  list-style-type: none;
  padding-left: 0;
}

.project {
  > .metadata {
    @extend %metadata;
    $thumbSize: $projectSideWidth - 1 - ($projectGutter * 2);

    > .thumbnail {
      background: {
        image: url(http://via.placeholder.com/200/200);
        size: contain;
      }
      border: {
        radius: 4px;
        width: 1px;
        color: $lineColor;
        style: solid;
      }
      height: $thumbSize;
      margin-bottom: 8px;
      padding: $projectGutter;
      width: $thumbSize;
    }

    > .link {
      @extend %fancy-link;
      font-size: 0.6rem;
      text-transform: uppercase;
    }

    min-width: $projectSideWidth;
    max-width: $projectSideWidth;
  }

  > .main {
    @extend %project-main;

    margin-left: $projectGutter;
    padding-left: $projectGutter;

    flex-grow: 1;
  }

  display: flex;
  flex-direction: row;
}

.post {
  .post-title {
    margin-bottom: 0.2em;
  }

  &.post-summary {
    .post-title {
      font-size: 0.9em;
    }

    .post-date {
      font-size: 0.8em;
    }

    .post-tags {
      font-size: 0.8em;
    }
  }
}

