<li class="project">
    <div class="metadata">
        <dl>
            <dt>Language</dt>
            <dd>{{ .language }}</dd>
            <dt>Project URL</dt>
            <dd><a class="link" href="{{ .url }}">{{ .urlText }}</a></dd>
        </dl>
    </div>
    <div class="main">
        <div class="title">{{ .name }}</div>
        <div class="subtitle">{{ .summary }}</div>
        <div class="description">
            <p>
                {{ .description }}
            </p>
        </div>
    </div>
</li>