
<li class="project">
    <div class="metadata">
        <a class="thumbnail" href="{{ .url }}" style="background-image: url({{ .imageUrl }});"></a>
        <dl>
            <dt>Date</dt>
            <dd>{{ .date }}</dd>
            <dt>Language</dt>
            <dd>{{ .language }}</dd>
        </dl>
    </div>
    <div class="main">
        <a class="title" href="{{ .url }}">{{ .name }}</a>
        <div class="subtitle">{{ .summary }}
        </div>
        <div class="description">
            {{ .description }}
        </div>
    </div>
</li>