<!DOCTYPE html>
<html>

{{ partial "head" . }}

<body>
<section class="container">
    <section class="main">
        <h1>fisk.cc</h1>
        <p>
            I've been programming on and off for a decade. I also do digital illustration. I publish games as KEMOHAUS.
        </p>
        <ul class="social-links">
            <li>
                <a href="https://twitter.com/__fisk">Twitter</a>
            </li>
            <li>
                <a href="https://github.com/fiskWasTaken">GitHub</a>
            </li>
            <li>
                <a href="https://kemohaus.itch.io">itch.io</a>
            </li>
        </ul>
    </section><!-- lol -->
</section>
<section class="container">
    <section>
        <h3>Games</h3>
        <ul class="project-list-sm">
            {{ range $.Site.Data.games }}
                {{ partial "game.html" . }}
            {{ end }}
        </ul>
        <h3>Projects</h3>
        <ul class="project-list">
            {{ range $.Site.Data.projects }}
                {{ partial "project.html" . }}
            {{ end }}
        </ul>
        <h3>Libraries</h3>
        <ul class="project-list-sm">
            {{ range $.Site.Data.libraries }}
                {{ partial "library.html" . }}
            {{ end }}
        </ul>
        <h3>Posts</h3>
        <!-- Ranges through content/posts/*.md -->
        {{ range .Pages }}
        <div>
            <a href="{{.Permalink}}">{{.Date.Format "2006-01-02"}} | {{.Title}}</a>
        </div>
        {{ end }}
    </section>
</section>

{{ partial "footer" . }}

</body>
</html>